[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
django-filter = "*"
install = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
redis = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.10"
